---
import { projects } from "../../../data/home/projects/projects"
import type { Project } from "../../../data/home/projects/projects"
import Image from "astro/components/Image.astro"
import ProjectModal from "../../ui/modal/ProjectModal.astro"
---

<section id="projects" class=" max-w-8xl mx-auto px-10 py-32 bg-section-background scroll-mt-90 md:scroll-mt-12">
  <div class=" mb-16">
    <h2 class="font-family-secondary text-4xl font-bold">PROYECTOS</h2>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-6 gap-6">
    {
      projects.map((project: Project) => (
        <article
          class={
            "bg-[#2D3449] rounded-lg overflow-hidden " +
            (project.id === 1
              ? "lg:col-span-4"
              : project.id === 2
                ? "lg:col-span-2"
                : "lg:col-span-3")
          }
        >
          <div class={ project.id === 3 || project.id === 4 ? "flex flex-col-reverse p-8" : "" }>
            <button 
              data-project-id={project.id}
              data-gallery={JSON.stringify(project.gallery.map(image => image.src))}
              class="openModalBtns w-full h-full cursor-pointer">
              <Image
                src={project.image}
                alt={project.title}
                class={ " " +  (project.id === 3 || project.id === 4 ? "  mt-4 rounded object-contain " : "w-full object-cover mb-4") }
                loading="lazy" 
              />
            </button>
            <div class={ "flex flex-col gap-4 " + (project.id === 3 || project.id === 4 ? "p-0" : "p-8") }>
              <div class="flex flex-wrap gap-y-3">
                {
                  project.stack.map((tech) => (
                    <span 
                      class="text-sm bg-stack-background py-1 px-3 text-custom-green-light 
                      mr-2 rounded-xs"
                    >
                      {tech}
                    </span>
                  ))
                }
              </div>
              <h3 class="font-family-secondary tracking-widest text-3xl font-bold">{project.title}</h3>
              <p class=" text-custom-gray-light leading-relaxed tracking-widest text-base text-left">{project.description}</p>
              <div class=" flex gap-5">
                <a href={project.linkRepo} class="text-custom-green-light hover:underline">Ver repositorio</a>
                {
                  project.linkDeploy && (
                    <a href={project.linkDeploy} target="_blank" class="text-custom-green-light hover:underline">Ver proyecto</a>
                  )
                }
              </div>
            </div>
          </div>
        </article>
      ))
    }
  </div>
</section>

<ProjectModal />
